@charset "UTF-8";

body {
  background-image: url("../images/doggg.jpg");
  color: white;
  padding: 40px;
  background-color: #f5f5f5;
}
#buttonn {
  color:rgba(28, 52, 100, 0.747);
}
/*
.bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;  
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
}
*/